@media (max-width: 1199px) {}
@media (max-width: 1023px) {
    .news__block {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .burger{
        display: flex;
        position: absolute;
        left: 0;
    }
    .burger span{
       
        display: none;
      }
    .header__box{
        position: sticky;
    }
    .navbar__box :hover .dropdown__menu {
        position: unset;
      
    }
    .news{
        margin: 3rem 0;
    }
    .navbar__box li {
    font-size: 2rem;
    width: 100%;
    line-height: 4rem;}

    .navbar{
        display: none;
        flex-direction: column;
        position: fixed;
      justify-content: normal;
        width: 85%;
        z-index: 50;
        left: 0;
        bottom: 0;
        right: 0;
        top: 90px;
        overflow-y: auto;
        padding: 7px;
        background-color: #fff;

        animation: burgerAnimation 0.4s;
    }

    .navbar__box{
        flex-direction: column;

    }
    @keyframes burgerAnimation {
        from {opacity: 0}
        to {opacity: 1}
    }
    .navbar__box :hover .dropdown__menu {
        left: 30%;
    }
    .logo__search{
        right: 0;
    }
}
@media(max-width: 767px) {
    .burger span{
        
        display: block;
      }

    .news__box {
        flex-direction: column;
    }

    .news__block {
        flex: 0;
        max-width: 100%;
    }
.navbar__box li{
    border-bottom: 1px solid #9B9B9B;
    padding: 10px 0;
}
    .navbar__box :hover .dropdown__menu li{
        left: 40%;
        font-size: 1.25rem;
    }
    .container{
        padding: 0 10px;
    }

}
